<tr>
    <td class="field">
        {ATF::$usr->trans('tache_user',$current_class->table)} :
    </td>
    <td class="value">
        {foreach name=for_tache from=$requests.tache.dest key=key__ item=id_user}
            {ATF::user()->nom($id_user)}{if !$smarty.foreach.for_tache.last}, {/if}
        {/foreach}
    </td>
</tr>
{if !$requests.tache.date_validation}
    <tr>
        <td class="field">
            {ATF::$usr->trans('valid',$current_class->table)} :
        </td>
        <td class="value">
            <input type="button" value="{ATF::$usr->trans('valid',$current_class->table)}"
            onclick="if(confirm('{ATF::$usr->trans(creer_tache,suivi)}')){
                            ATF.ajax(
                                'tache,valid.ajax'
                                ,'id_tache={$requests.tache.id_tache}'
                                ,{ onComplete: function (obj) { 
                                    ATF.goTo('tache-insert.html,id_societe={$requests.tache.id_societe|cryptId}');
                                } }
                            );
                        }else{  
                            ATF.ajax('tache,valid.ajax','id_tache={$requests.tache.id_tache}');
                        }" />
        </td>
    </tr>
{/if}