<div id="accueil" style="padding-left:2em;"></div>

{assign var="date" value=$smarty.now|date_format:"%Y-%m-%d"}

<script type="text/javascript">/*<![CDATA[*/
Ext.onReady(function(){	
	try {
		var widgets = [
			{foreach from=ATF::$usr->getWidgets() key=key item=item}
				{
					xtype:'panel',
					id:'widget_{$item.module}_{$item.type}',
					width: 305, 
					style: {
						float: 'left',
						marginBottom: '5px'
					},
					border: false,
					layout: 'column',
					items: [
						{											    
							xtype: 'panel', 
							height:250,
							border: true,
							autoLoad:{ url: '{$item.module},widget.ajax{if $item.type},type={$item.type}{/if}', scripts:true }
						}
					]

				}{if !$key@last},{/if}
				
			{/foreach}
		 ];
		
	} catch(e) {
		console.log("ERREUR WIDGET !");
		console.log(e); 
	}
	
	try {
		var today = new Date();
		var nbTache = 0;
		
		ATF.validTache = function(id) {

			ATF.ajax('tache,valid.ajax','id_tache='+id,{ onComplete: function (e) { 
				if (e.result) {
					var line = Ext.get("line"+id);
					line.fadeOut({ easing: 'easeOut', duration: 1, remove: false, useDisplay: true }); 
					setTimeout(function() { line.removeClass("en_cours"); },1000);
					setTimeout(function() { line.addClass("fini"); },1000);
				}

			}});
		};
		
		ATF.cancelTache = function(id) {
			ATF.ajax('tache,cancel.ajax','id_tache='+id,{ onComplete: function (e) { 
				if (e.result) {
					var line = Ext.get("line"+id);
					line.fadeOut({ easing: 'easeOut', duration: 1, remove: true, useDisplay: true }); 
				}
			}});
		};
		
		ATF.giveUpTache = function (id) {
			ATF.ajax('tache,giveUp.ajax','id_tache='+id,{ onComplete: function (e) { 
				if (e.result) {
					var line = Ext.get("line"+id);
					line.fadeOut({ easing: 'easeOut', duration: 1, remove: true, useDisplay: true }); 
				}
			}});
		};
		
		ATF.postponeTache = function(id) {
			new Ext.Window({
				title: '{ATF::$usr->trans("postpone_title","tache_accueil")}',
				id:'mywindow'+id,
				width: 310,
				items: [
					new Ext.FormPanel({
						frame:true,
						autoHeight:true,
						id:'myForm'+id,
						name:'myFormName'+id,
						labelWidth:140,
						items: [{
							html:'{ATF::$usr->trans("decalage","tache_postpone")} <b>{ATF::$usr->trans("or")|strtoupper}</b> {ATF::$usr->trans("new_date","tache_postpone")}',
							height:30
						},{
							xtype:"combo",
							typeAhead: true,
							triggerAction: 'all',
							width:130,
							id:'postponeValue'+id,
							lazyRender:true,
							fieldLabel:'{ATF::$usr->trans("nb_jour_postpone","tache_accueil")}',
							mode: 'local',
							store: new Ext.data.ArrayStore({
								fields: ['myId','displayText'],
								data: [[1, '1 jour'], [2, '2 jour'], [3, '3 jour'], [4, '4 jour'], [5, '5 jour']]
							}),
							valueField: 'myId',
							displayField: 'displayText'
						},{
							xtype:"datefield",
							name:'postponeValue2'+id,
							id:'postponeValue2'+id,
							width:130,
							fieldLabel:'{ATF::$usr->trans("date_postpone","tache_accueil")}',
							format: "d-m-Y",
						}],
						buttons: [{
							text: 'Ok',
							handler: function(){
							ATF.log(Ext.getCmp('postponeValue2'+id));
								ATF.ajax('tache,postpone.ajax','id_tache='+id+'&postponeValue='+Ext.getCmp('postponeValue'+id).getValue()+'&postponeValue2='+Ext.getCmp('postponeValue2'+id).getRawValue(),{ onComplete: function (e) { 
									if (e.result) {
										var line = Ext.get("line"+id);
										line.fadeOut({ easing: 'easeOut', duration: 1, remove: false, useDisplay: true }); 
									}
								}});
								Ext.getCmp('myForm'+id).destroy();
								Ext.getCmp('mywindow'+id).hide();
							}
						},{
							text: 'Annuler',
							handler: function(){
								Ext.getCmp('myForm'+id).destroy();
								Ext.getCmp('mywindow'+id).hide();
							}
						}]
						
					})
				]
			}).show();
		};
		
		ATF.initTacheImminente = function(divID,date,time) {
			var m = ATF.createLoadMask(Ext.select("#"+divID));
			var p = "";
			if (date) {
				var d = new Date(date);
				p = "date="+d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();
			}
			if (time) {
				p += " "+time;
			}
			m.show();
			ATF.ajax(
				"tache,tachesImminentes.ajax",
				p,
				{
					onComplete : function (e) {
						nbTache += e.result.count;
						tplTacheImminente.overwrite(Ext.getCmp(divID).body,e.result);
						m.hide();

						if (!nbTache) {
							Ext.getCmp('tachesImminentesAndLatePanel').collapse(true);
						}

					}
				}
			);		
		};
		var tplTacheImminente = new Ext.XTemplate(
			'<div class="tache_accueil">',
				'<tpl if="count&gt;0">',
					'<tpl for="lignes">',
						'<div>',
							'<div class="head w52">{literal}{libelle} ({count}{/literal})</div>',
							'<div class="head w20">{ATF::$usr->trans(id_societe,tache)|escape:"javascript"}</div>',
							'<div class="head w20">{ATF::$usr->trans(de,tache)|escape:"javascript"}</div>',
							'<div class="head w8">{ATF::$usr->trans(actions,tache)|escape:"javascript"}</div>', 
							'<div style="clear:both"></div>', 
						'</div>',
						'<tpl if="count&gt;0">',
							'<tpl for="data">',
								'<div class="dataR {literal}{etat}{/literal}" id="line{literal}{id_tache}{/literal}">', 
									'<div class="dataC w52">', 
										'<div class="lightCB">', 
											'<tpl if="etat==\'en_cours\'">',
												'<input type="checkbox" onclick="ATF.validTache(this.id);" value="{literal}{id_tache}{/literal}" id="{literal}{id_tache}{/literal}" name="tache{literal}{id_tache}{/literal}" />',
												'<label for="{literal}{id_tache}{/literal}" ext:qtip="{ATF::$usr->trans(click2valid,qtip)|escape:"javascript"}"></label>',
											'</tpl>',
											'<tpl if="etat==\'fini\'">',
												'<input type="checkbox" onclick="ATF.validTache(this.id);" value="{literal}{id_tache}{/literal}" id="{literal}{id_tache}{/literal}" name="tache{literal}{id_tache}{/literal}" disabled=disabled checked=checked />',
												'<label for="{literal}{id_tache}{/literal}"</label>',
											'</tpl>',
										'</div>',
										'{literal}{urgenceFlag}{/literal}', 
										'{literal}{tache}{/literal}',
									'</div>', 
									'<div class="dataC w20"><tpl if="id_societe_crypted"><a href="societe-select-{literal}{id_societe_crypted}{/literal}.html">{literal}{societe}{/literal}</tpl></a>&nbsp;</div>',
									'<div class="dataC w20">{literal}{createur}{/literal} / {literal}{concerne}{/literal}&nbsp;</div>',
									'<div class="dataC w8">',
										'<tpl if="etat==\'en_cours\'">',
											'<a href="javascript:;" onclick="ATF.postponeTache({literal}{id_tache}{/literal});">',
										'</tpl>',
										'<img src="{ATF::$staticserver}images/icones/postpone.png" ext:qtip="{ATF::$usr->trans(postpone,qtip)|escape:"javascript"}" />',
										'<tpl if="etat==\'en_cours\'">',
											'</a>',
										'</tpl>',
										'&nbsp;',
										'<a href="javascript:;" onclick="ATF.goTo(\'tache-select-{literal}{id_tache_crypted}{/literal}.html\');return false;">',
											'<img src="{ATF::$staticserver}images/icones/link.png" ext:qtip="{ATF::$usr->trans(acceder_a_la_fiche,qtip)|escape:"javascript"}" />',
										'</a>',
										'&nbsp;',
										'<tpl if="nbConcerne&gt;1">',
											'<tpl if="etat==\'en_cours\'">',
												'<a href="javascript:;" onclick="ATF.giveUpTache({literal}{id_tache}{/literal});">',
											'</tpl>',
											'<img src="{ATF::$staticserver}images/user-remove.png" ext:qtip="{ATF::$usr->trans(give_up,qtip)|escape:"javascript"}" width="14" height="14" />',
											'<tpl if="etat==\'en_cours\'">',
												'</a>',
											'</tpl>',
										'</tpl>',
										'<tpl if="nbConcerne==1">',
											'<tpl if="etat==\'en_cours\'">',
												'<a href="javascript:;" onclick="ATF.cancelTache({literal}{id_tache}{/literal});">',
											'</tpl>',
											'<img src="{ATF::$staticserver}images/icones/cancel.png" ext:qtip="{ATF::$usr->trans(cancel,qtip)|escape:"javascript"}" width="14" height="14" />',
											'<tpl if="etat==\'en_cours\'">',
												'</a>',
											'</tpl>',
										'</tpl>',
									'</div>',
									'<div style="clear:both"></div>', 
								'</div>', 
							'</tpl>',
						'</tpl>',
					'</tpl>',
				'</tpl>',
				'<tpl if="count==0">',
					'<div style="text-align:center; color: #686868;line-height: 50px">{ATF::$usr->trans(aucunes_taches_imminentes,tache)|escape:"javascript"}</div>',
				'</tpl>',
			'</div>'
		);
		
		ATF.initTacheLate = function(divID) {
			ATF.ajax(
				"tache,tacheLate.ajax",
				"",
				{
					onComplete : function (e) {
						if (e.result.count!=0) {
							nbTache += e.result.count;
							tplTacheLate.overwrite(Ext.getCmp(divID).body,e.result);
						}
					}
				}
			);		
		};
		var tplTacheLate = new Ext.XTemplate(
			'<div class="tache_accueil">',
				'<div class="late">',
					'<div class="head w52 red bold">{ATF::$usr->trans(taches_en_retard,tache)|escape:"javascript"} ({literal}{count}{/literal})</div>',
					'<div class="head w20">{ATF::$usr->trans(id_societe,tache)|escape:"javascript"}</div>',
					'<div class="head w20">{ATF::$usr->trans(de,tache)|escape:"javascript"}</div>',
					'<div class="head w8">{ATF::$usr->trans(actions,tache)|escape:"javascript"}</div>', 
					'<div style="clear:both"></div>', 
				'</div>',
				'<tpl for="data">',
					'<div class="dataR {literal}{etat}{/literal} late" id="line{literal}{id_tache}{/literal}">', 
						'<div class="dataC w52">', 
							'<div class="lightCB">',  
									'<tpl if="etat==\'en_cours\'">',
										'<input type="checkbox" onclick="ATF.validTache(this.id);" value="{literal}{id_tache}{/literal}" id="{literal}{id_tache}{/literal}" name="tache{literal}{id_tache}{/literal}" />',
										'<label for="{literal}{id_tache}{/literal}" ext:qtip="{ATF::$usr->trans(click2valid,qtip)|escape:"javascript"}"></label>',
									'</tpl>',
									'<tpl if="etat==\'fini\'">',
										'<input type="checkbox" onclick="ATF.validTache(this.id);" value="{literal}{id_tache}{/literal}" id="{literal}{id_tache}{/literal}" name="tache{literal}{id_tache}{/literal}" disabled=disabled checked=checked />',
										'<label for="{literal}{id_tache}{/literal}"</label>',
									'</tpl>',
							'</div>',
							'<span class="red bold italic">{literal}{tpsRetard}{/literal} j </span>- ',
							'{literal}{tache}{/literal}',
						'</div>', 
						'<div class="dataC w20"><a href="societe-select-{literal}{id_societe_crypted}{/literal}.html">{literal}{societe}{/literal}</a>&nbsp;</div>',
							'<div class="dataC w20">{literal}{createur}{/literal} / {literal}{concerne}{/literal}&nbsp;</div>',
						'<div class="dataC w8">',
							'<tpl if="etat==\'en_cours\'">',
								'<a href="javascript:;" onclick="ATF.postponeTache({literal}{id_tache}{/literal});">',
							'</tpl>',
							'<img src="{ATF::$staticserver}images/icones/postpone.png" ext:qtip="{ATF::$usr->trans(postpone,qtip)|escape:"javascript"}" />',
							'<tpl if="etat==\'en_cours\'">',
								'</a>',
							'</tpl>',
							'&nbsp;',
							'<a href="javascript:;" onclick="ATF.goTo(\'tache-select-{literal}{id_tache_crypted}{/literal}.html\');return false;">',
								'<img src="{ATF::$staticserver}images/icones/link.png" ext:qtip="{ATF::$usr->trans(acceder_a_la_fiche,qtip)|escape:"javascript"}" />',
							'</a>',
							'&nbsp;',
							'<tpl if="nbConcerne&gt;1">',
								'<tpl if="etat==\'en_cours\'">',
									'<a href="javascript:;" onclick="ATF.giveUpTache({literal}{id_tache}{/literal});">',
								'</tpl>',
								'<img src="{ATF::$staticserver}images/user-remove.png" ext:qtip="{ATF::$usr->trans(give_up,qtip)|escape:"javascript"}" width="14" height="14" />',
								'<tpl if="etat==\'en_cours\'">',
									'</a>',
								'</tpl>',
							'</tpl>',
							'<tpl if="nbConcerne==1">',
								'<tpl if="etat==\'en_cours\'">',
									'<a href="javascript:;" onclick="ATF.cancelTache({literal}{id_tache}{/literal});">',
								'</tpl>',
								'<img src="{ATF::$staticserver}images/icones/cancel.png" ext:qtip="{ATF::$usr->trans(cancel,qtip)|escape:"javascript"}" width="14" height="14" />',
								'<tpl if="etat==\'en_cours\'">',
									'</a>',
								'</tpl>',
							'</tpl>',
						'</div>',
						'<div style="clear:both"></div>', 
					'</div>', 
				'</tpl>',
			'</div>'
		);

		var taches = [
			{
				xtype:'panel',
				layout: 'column',
				border:false,
				listeners: {
					"beforeRender": function (e) {
						ATF.initTacheLate("contentTacheLate");
						ATF.initTacheImminente("contentTacheImminente");
					}
				},
				items: [
					{
						columnWidth: .7,
						border: false,
						style: {
							paddingRight: '5px'
						},
						items: [{
							border: false,
							id:'contentTacheLate'
							
						},{
							border: false,
							id:'contentTacheImminente'
						}]
						
						
					},
					{
						border: false,
						columnWidth: .3,
						style: {
							paddingLeft: '5px',
							textAlign: 'right'
						},
						layout: 'column',
						
						items: [
							{
								border: false,
								columnWidth: .5,
								items: [{
									html:'{ATF::$usr->trans(date_depart,tache_accueil)}&nbsp;&nbsp;&nbsp;',
									border: false,
									style: {
										lineHeight: '25px',
										fontWeight: 'bold'
									},
									
								},{
									html:'{ATF::$usr->trans(time_depart,tache_accueil)}&nbsp;&nbsp;&nbsp;',
									border: false,
									style: {
										lineHeight: '25px',
										fontWeight: 'bold'
									},
									
								},{
									html:'{ATF::$usr->trans(afficher_les_taches_finies,tache_accueil)}&nbsp;&nbsp;&nbsp;',
									border: false,
									style: {
										lineHeight: '20px',
										fontWeight: 'bold'
									},
								},{
									html:'{ATF::$usr->trans(afficher_les_taches_en_retard,tache_accueil)}&nbsp;&nbsp;&nbsp;',
									border: false,
									style: {
										lineHeight: '20px',
										fontWeight: 'bold'
									},									
								},{
									html:'<a href="tache-insert.html">Ajouter une tache</a>',
									border: false,
									style: {
										lineHeight: '20px',
										fontWeight: 'bold'
									},
								}]

								
							},{
								border: false,
								columnWidth: .5,
								style: {
									textAlign: 'left',
									verticalAlign: 'top',
									lineHeight: '25px',
								},
								items: [{
									xtype: 'datefield',
									name: 'date_depart',
									cls:'x-border-box, x-border-box',
									id: 'date_depart',
									padding: 5,
									width: 150,
									style: {
										verticalAlign: 'top',
									},
									value: today,
									maxValue: "",
									time: true,
									format: "d-m-Y",
									listeners: {
										"select": function (el,newV,oldV) {
											ATF.initTacheImminente("contentTacheImminente",newV,Ext.getCmp("time_depart").getValue());
										}
									}
								},
								{
									xtype: 'timefield',
									name: 'time_depart',
									id: 'time_depart',
									padding: 5,
									maxValue: "",
									width:100,
									time: true,
									format: "H:i",
									style: {
										verticalAlign: 'top',
									},

									value:'{$value|default:$smarty.now|date_format:"%H:%M"}',
									minValue: '0:00',
									maxValue: '23:45',
									increment: 15,
									listeners: {
										"change": function (el,newV,oldV) {
											ATF.initTacheImminente("contentTacheImminente",Ext.getCmp("date_depart").getValue(),newV);
										}
									}
								},
								{
									xtype: 'checkbox',
									name: 'afficher_tout',
									id: 'afficher_tout',
									checked: false,
									listeners: {
										'check': function(el, v){
											var els = Ext.select(".fini");
											if (v) {
												els.fadeIn({ easing: 'easeIn', duration: 1, useDisplay: true }); 
											} else {
												els.fadeOut({ easing: 'easeOut', duration: 1, remove: false, useDisplay: true }); 
											}
										}
									},
									
								},
								{
									xtype: 'checkbox',
									name: 'afficher_late',
									id: 'afficher_late',
									checked: true,
									listeners: {
										'check': function(el, v){
											var els = Ext.select(".late");
											if (v) {
												els.fadeIn({ easing: 'easeIn', duration: 1, useDisplay: true }); 
											} else {
												els.fadeOut({ easing: 'easeOut', duration: 1, remove: false, useDisplay: true }); 
											}
											
										}
									},
									
								}]
							},
						
						
						]
					}
				]
			}
			
		];
		
	} catch(e) {
		console.log("ERREUR TACHES !");
		console.log(e); 
	}
	
	try {
		new Ext.Panel({ 
			renderTo:'accueil',
			layout:'anchor',
			border: false,
			monitorResize:true,
			items: [
				new Ext.Panel({
					title:'{ATF::$usr->trans("tacheImminenteTitle")|escape:"javascript"}',
					bodyStyle: 'padding:5px;',
					id:'tachesImminentesAndLatePanel',
					autoWidth: true,
					collapsible: false,
					border: false, 
					items: taches
				})
			]
		});
		
	} catch(e) {
		console.log(e); 
	}
});
/*]]>*/</script>

{* Affichage des news *}
{if ATF::news()->isNews()}
	<div id="newsBoard">
		<div id="news"></div>
	</div>
	
	<script type="text/javascript">/*<![CDATA[*/
		{include file="generic-news.tpl.js"}
	/*]]>*/</script>
{/if}