{strip}
{*
@param string $module
*}
{$module=hotline}
{$type = requetebyUser7joursGlissants}
<div id="{$module}_requetebyUser7joursGlissants" class="widget"></div>

<script type="text/javascript">
{$data = ATF::hotline()->requetebyUser7joursGlissants()}

Ext.onReady(function(){
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: '{$module}_requetebyUser7joursGlissants',
            type: 'spline'
        },
        title: {            
            text: "Tps pointé sur les 7 derniers jours glissants"
            ,style :{
                fontSize: '10px'
            }
        },
        colors :[
            "#FF0033",
            "#19FF30",
            '#FFCF23' 
        ],
        xAxis: {            
            categories: [
                {foreach $data["categories"]["category"] as $cat}                    
                    '{$cat["label"]}' {if !$cat@last},{/if}
                {/foreach}
                ]
        },        
        yAxis: {
            title: {
                text: null
            }
        },
        tooltip: {           
            shared: true
        },
        series: [
               {foreach $data["dataset"] as $key=>$value}    
               {                   
                   type: 'column'
                   ,name: "{$value['params']['seriesname']}"                   
                   ,data: [                           
                           {foreach $value["set"] as $k=>$v}                           
                                {$v["value"]} {if !$k@last},{/if}
                           {/foreach}
                          ]
                    {if $key == "attente"},visible: false {/if}
               } {if !$key@last},{/if}
             {/foreach} 
            
              {
                  type: 'spline',
                  name: 'Objectif',
                  data: [
                          {foreach $data["categories"]["category"] as $key => $cat}   
                               7 {if !$key@last},{/if}
                          {/foreach}   
                      ], 
                  marker: {
                             enabled: false
                          }                 
              }             
           ]        
    });
});    
    
</script>

<div>
   
</div>
{/strip}