{strip}
{*
@param string $module
*}
{$module=hotline}
{$type = waitmep}
<div id="{$module}_waitmep" class="widget"></div>

<script type="text/javascript">
{$data = ATF::hotline()->stats(true,$type)}  

Ext.onReady(function(){
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: '{$module}_waitmep',
            type: 'column'
        },
        title: {            
            text: '{$data["params"]["caption"]|escape:javascript}'
            ,style :{
                fontSize: '10px'
            }
        },
        colors :[
            '#FF0004',
            '#FFCF23',
            '#19FF30'            
        ],
        xAxis: {            
            categories: [
                {foreach $data["categories"]["category"] as $cat}                    
                    '{$cat["label"]}' {if !$cat@last},{/if}
                {/foreach}
                ]
        },
        plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },
        yAxis: {
            title: {
                text: null
            }
        },
        series: [
               {foreach $data["dataset"] as $key=>$value}    
               {                   
                   type: 'column'
                   ,name: "{$key}"                   
                   ,data: [                           
                           {foreach $value["set"] as $k=>$v}                           
                                {$v["value"]} {if !$k@last},{/if}
                           {/foreach}
                          ]
               } {if !$key@last},{/if}
             {/foreach}              
           ]        
    });
});    
</script>

{/strip}