<style type="text/css">
	.myButton {
		-moz-box-shadow: 0px 10px 14px -7px #3dc21b;
		-webkit-box-shadow: 0px 10px 14px -7px #3dc21b;
		box-shadow: 0px 10px 14px -7px #3dc21b;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
		background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
		background-color:#44c767;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:20px;
		font-weight:bold;
		padding:13px 32px;
		text-decoration:none;
		text-shadow:0px 1px 0px #2f6627;
	}
	.myButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
		background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
		background-color:#5cbf2a;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}
</style>

<h4>
Bonjour {$infos.contact}, <br />
Afin de préparer au mieux notre intervention pour le problème que vous rencontrez, merci de bien vouloir télécharger et installer le logiciel de prise en main à distance ci dessous
</h4>
<br /><br />
<center><a href="https://get.teamviewer.com/s9uu4wt" class="myButton">Télécharger le logiciel</a></center>