<p><span style="font-weight:bold;">{ATF::user()->nom($infos.hotline_detail.id_user)} </span>a pris en charge la requête !</p>

<p><span style=" font-style:italic; text-decoration:underline;">Rappel de la requête <span style="color:#990033; font-weight:bold">{$infos.hotline}</span> de <strong>{$infos.contact}</strong> de la societe <strong>{$infos.societe}</strong></span></p>

<div style="font-size:13px; font-style:italic; margin-left:20px;">{$infos.detail|stripslashes|nl2br}</div>

<p>Vous pouvez également aider le technicien hotline en interagissant sur la requête. <a href="{$infos.optima_url}">Rendez-vous sur Optima !</a></p>