<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type">
  <title>Document sans nom</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">
  <br>
  <div class="moz-forward-container">
    <!--/*SC*/DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"/*EC*/-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style type="text/css">
    <!--
    {literal}
    body {margin:0px; color:#2b373d; font-family:Arial,Helvetica,sans-serif; background:#d1d1d1; font-size:12px;}
    a {outline:none; text-decoration:underline}
    a:hover {text-decoration:none}
    a.link {text-decoration:none}
    a:hover.link {text-decoration:underline}
    {/literal}
    -->
    </style>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td bgcolor="#D1D1D1">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="660">
              <tbody>
                <tr>
                  <td width="660">
                    <table border="0" cellpadding="0" cellspacing="0" width="660">
                      <tbody>
                        <tr>
                          <td align="center" style="padding:20px 0 5px 0"><font color="#00000" face="Arial, Helvetica, sans-serif" size="1" style="font-size:10px"><strong style="font-size:11px">Leroy Merlin : Expédition n° {$infos.num_expedition} de votre commande n° {$infos.commande_lm}</strong><br>
                          Pour être sûr(e) de recevoir tous nos emails, ajoutez <a class="moz-txt-link-abbreviated" href="mailto:contact@abonnement.leroymerlin.fr">contact@abonnement.leroymerlin.fr</a> à votre carnet d'adresses.</font></td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td bgcolor="#FFFFFF">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td bgcolor="#D1D1D1" height="33" width="30"><img alt="" border="0" height="10" src="http://www.leroymerlin.fr/mail-manager/shopping-commercial/images/blank.gif" style="display:block" width="10"></td>
                                          <td bgcolor="#D1D1D1" height="33"><img alt="" border="0" height="10" src="http://www.leroymerlin.fr/mail-manager/shopping-commercial/images/blank.gif" style="display:block" width="10"></td>
                                          <td align="right" bgcolor="#D1D1D1" height="33" valign="bottom" width="200"><img alt="" border="0" height="33" src="http://www.leroymerlin.fr/mail-manager/shopping-commercial/images/illus_carton_01.jpg" style="display:block" width="176"></td>
                                        </tr>
                                        <tr>
                                          <td valign="top"></td>
                                          <td valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td height="78">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tbody>
                                                        <tr>
                                                          <td width="65">
                                                            <a href="http://www.leroymerlin.fr" target="_blank"><img alt="Leroy Merlin" border="0" height="78" src="http://www.leroymerlin.fr/mail-manager/shopping-commercial/images/logo_leroy_merlin.gif" style="display:block" width="54"></a>
                                                          </td>
                                                          <td valign="middle"><font color="#5FAD0E" face="Arial, Helvetica, sans-serif" size="2" style="font-size:26px;"><strong>Expédition<br>
                                                          de votre commande</strong></font></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td><img border="0" height="30" src="http://www.leroymerlin.fr/mail-manager/shopping-commercial/images/bgd_filet_01.gif" style="display:block" width="430"></td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td valign="top"><img border="0" height="108" src="http://www.leroymerlin.fr/mail-manager/shopping-commercial/images/illus_carton_02.jpg" style="display:block" width="200"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding:15px 30px 0 30px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td style="padding:0 20px 0 0" valign="top">
<!-- Information client -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td style="padding:0 0 10px 0"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="2" style="font-size:12px">Bonjour {$infos.client.civilite|upper} {$infos.client.nom|ucfirst} {$infos.client.prenom|ucfirst},</font></td>
                                                </tr>
                                                <tr>
                                                  <td style="padding:0 0 10px 0"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="2" style="font-size:12px"><strong>L'envoi n° {$infos.num_expedition} de votre commande n° {$infos.commande_lm} sur le site <a href="http://abonnement.leroymerlin.fr" style="color:#5fad0e" target="_blank">https://abonnement.leroymerlin.fr</a> a été effectué.</strong><br></font></td>
                                                </tr>
                                                <tr>
                                                  <td style="padding:0 0 10px 0"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="2" style="font-size:12px">Vous trouverez ci-dessous le récapitulatif complet de cette expédition.</font></td>
                                                </tr>
                                                <tr>
                                                  <td style="padding:0 0 10px 0"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="2" style="font-size:12px">Si la bande de garantie du colis ou le colis sont détériorés, vous devez refuser le colis et émettre des réserves sur le bon de livraison.</font></td>
                                                </tr>
                                                <tr>
                                                  <td style="padding:0 0 10px 0"><br></td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td valign="top" width="210">
<!-- Recapitulatif -->
                                            <table border="0" cellpadding="1" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#E2E2E2">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tbody>
                                                        <tr>
                                                          <td bgcolor="#5FAC0D" style="padding:10px"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2" style="font-size:12px"><strong>Récapitulatif</strong></font></td>
                                                        </tr>
                                                        <tr>
                                                          <td bgcolor="#FFFFFF" style="padding:10px">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                              <tbody>
                                                                <tr>
                                                                  <td style="padding:0 0 10px 0"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="2" style="font-size:11px"><strong>Réf du contrat :</strong> {$infos.affaire.ref}</font></td>
                                                                </tr>
                                                                <tr>
                                                                  <td style="padding:0 0 10px 0"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="2" style="font-size:11px"><strong>Date d'achat :</strong> {$infos.affaire.date|date_format:"%d/%m/%Y"}</font></td>
                                                                </tr>
                                                                <tr>
                                                                  <td style="padding:0 0 10px 0"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="2" style="font-size:11px"><strong>Mode de paiement :</strong>Abonnement</font></td>
                                                                </tr>
                                                                <tr>
                                                                  <td style="padding:0 0 10px 0"><br></td>
                                                                </tr>
                                                                <tr>
                                                                  <td style="padding:0 0 10px 0"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="2" style="font-size:11px"><strong>Email :</strong> <a class="moz-txt-link-abbreviated" href="mailto:{$infos.client.email}">{$infos.client.email}</a></font></td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding:30px 30px 0 30px">
<!-- Date d'envoi + adresse -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td bgcolor="#5FAC0D" style="padding:10px; border-bottom:1px solid #ffffff;"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="3" style="font-size:15px"><strong>Envoi effectué le {$infos.date_envoi|date_format:"%d/%m/%Y"}</strong></font></td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#E2E2E2" style="padding:10px; border-right:1px solid #ffffff;" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tbody>
                                                        <tr>
                                                          <td style="padding:0 0 10px 0"><font color="#373737" face="Arial, Helvetica, sans-serif" size="2" style="font-size:14px"><strong>Adresse de livraison</strong></font></td>
                                                        </tr>
                                                        <tr>
                                                          <td>
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                              <tbody>
                                                                <tr>
                                                                  <td style="padding:0 5px 0 0" valign="top"><font color="#373737" face="Arial, Helvetica, sans-serif" size="1" style="font-size:11px">LEROY MERLIN ABONNEMENTS<br>
                                                                  {$infos.client.civilite|upper} {$infos.client.nom|upper} {$infos.client.prenom|upper}<br>
                                                                  {$infos.affaire.adresse_livraison}<br>
                                                                  {$infos.affaire.cp_adresse_livraison} - {$infos.affaire.ville_adresse_livraison}<br>
                                                                  FRANCE</font></td>
                                                                  <td valign="top"><font color="#373737" face="Arial, Helvetica, sans-serif" size="1" style="font-size:11px"><br></font></td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                  <td bgcolor="#D1D1D1" style="padding:10px;" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tbody>
                                                        <tr>
                                                          <td style="padding:0 0 10px 0"><font color="#373737" face="Arial, Helvetica, sans-serif" size="2" style="font-size:14px"><strong>Adresse de facturation des Produits<br></strong></font></td>
                                                        </tr>
                                                        <tr>
                                                          <td><font color="#373737" face="Arial, Helvetica, sans-serif" size="1" style="font-size:11px">LEROY MERLIN ABONNEMENTS<br />
                                                              RUE CHANZY<br />
                                                              LEZENNES<br />
                                                              59712 - LILLE CEDEX 9<br />
                                                              FRANCE<br />
                                                              </font>
                                                            </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr><!--/*SC*/ COMMANDE /*EC*/-->
                                <tr>
                                  <td style="padding:30px 30px 0 30px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" width="72"><img alt="Livraison" border="0" height="34" src="http://www.leroymerlin.fr/mail-manager/shopping-commercial/images/illus_commande_livraison.gif" style="display:block" width="35"></td>
                                          <td style="padding:0 0 5px 0"><font color="#000000" face="Arial, Helvetica, sans-serif" size="4" style="font-size:22px"><strong>Commande n° {$infos.commande_lm}</strong><br></font> <font color="#3F3F3F" face="Arial, Helvetica, sans-serif" size="2" style="font-size:12px, text-tranform:uppercase">Livraison à domicile</font></td>
                                        </tr>
                                      </tbody>
                                    </table>
<!-- Listing des articles envoyé + suivi colissimo -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td style="border:1px solid #e2e2e2">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#FFFFFF" style="border:1px solid #ffffff;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tbody>
                                                        <tr>
                                                          <td align="center" bgcolor="#5FAC0D" style="padding:10px;border-right:1px solid #e2e2e2" valign="top" width="250"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="1" style="font-size:12px"><strong>Articles</strong></font></td>
                                                          <td align="center" bgcolor="#5FAC0D" style="padding:10px;border-right:1px solid #e2e2e2" valign="top"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="1" style="font-size:12px"><strong>Quantité</strong></font></td>
                                                        </tr>


                                                        <tr>
<!-- COLISSIMO -->
                                                          <td bgcolor="#6F6F6F" colspan="2" style="padding:10px;border-top:1px solid #ffffff"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="1" style="font-size:14px"><strong>Colis n° {$infos.colissimo_ref}</strong> <a href="{$infos.lien_colissimo}" style="color:#FFFFFF" target="_blank">Suivre mon colis</a></font></td>
                                                        </tr><!--/*SC*/ Produits /*EC*/-->
<!-- FIN COLISSIMO -->
<!-- Moulinette de listing des articles ICI -->
                                                        {foreach from=$infos.produits item=produit  }
                                                        <tr>
                                                          <td bgcolor="#FFFFFF" style="padding:5px 10px;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="1" style="font-size:11px"><strong>{$produit.produit}</strong><br>
                                                          <em>Ref : {$produit.ref}</em></font></td>
                                                          <td align="right" bgcolor="#FFFFFF" style="padding:5px 10px;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2" valign="top"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="1" style="font-size:11px">{$produit.qte}</font></td>
                                                        </tr>
                                                        {/foreach}
                                                        <!--/*SC*/ Fin produits /*EC*/-->
<!-- FIN de la moulinette -->
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
<!-- FIn du listing des articles -->
<!-- Ne pas toucher à la suite uniquement du texte -->
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding:30px 30px 0 30px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td style="border:5px solid #5fad0e; background:#ffffff; padding:10px" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#FFFFFF" style="padding-bottom:10px"><font color="#5FAD0E" face="Arial, Helvetica, sans-serif" size="2" style="font-size:14px"><strong>POUR SUIVRE VOS COMMANDES</strong></font></td>
                                                </tr>
                                                <tr>
                                                  <td bgcolor="#FFFFFF" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tbody>
                                                        <tr>
                                                          <td style="padding-bottom:20px" width="57"><img alt="Contact" border="0" height="31" src="http://www.leroymerlin.fr/mail-manager/shopping-commercial/images/illus_contact.gif" style="display:block" width="47"></td>
                                                          <td style="padding-bottom:20px"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="1" style="font-size:12px">Contactez le Service Client au 03.59.57.46.04<br>
                                                          ou par mail <a href="mailto:contact@abonnement.leroymerlin.fr" style="color:#5fad0e" target="_blank"><font color="#4B4B4B">contact@abonnement.leroymerlin.fr</font></a>.</font></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding:30px 30px 0 30px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td style="border:5px solid #5fad0e; background:#ffffff; padding:10px" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#FFFFFF" style="padding-bottom:10px"><font color="#5FAD0E" face="Arial, Helvetica, sans-serif" size="2" style="font-size:14px"><strong>RECOMMANDATIONS POUR LA LIVRAISON</strong></font></td>
                                                </tr>
                                                <tr>
                                                  <td bgcolor="#FFFFFF" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tbody>
                                                        <tr>
                                                          <td style="padding-bottom:10px"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="1" style="font-size:12px">En cas de livraison sans signature, prenez le temps de vérifier l'état et la conformité du produit dès sa livraison.<br>
                                                          Si la livraison se fait sur signature, prenez le temps d'ouvrir le colis et de vérifier le bon état de l'article avant de signer le bon de livraison.<br>
                                                          Nous vous encourageons à refuser tout produit endommagé ou non conforme.<br>
                                                          Notez clairement la raison du refus et l'état du colis sur le bordereau de livraison. Par exemple, "Produit cassé", "baignoire rayée", "Verre de fenêtre fendu".</font></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding:30px 30px 0 30px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td style="border:5px solid #5fad0e; background:#ffffff; padding:10px" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#FFFFFF" style="padding-bottom:10px"><font color="#5FAD0E" face="Arial, Helvetica, sans-serif" size="2" style="font-size:14px"><strong>VOTRE DROIT DE RETRACTATION</strong></font></td>
                                                </tr>
                                                <tr>
                                                  <td bgcolor="#FFFFFF" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tbody>
                                                        <tr>
                                                          <td style="padding-bottom:10px"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="1" style="font-size:12px">Conformément à la réglementation en vigueur, pour tout achat de produit effectué sur le site, vous disposez d'un délai de rétractation de quatorze (14) jours, à compter de la réception de la marchandise, vous permettant d'annuler totalement ou partiellement vos commandes. Afin de faciliter la gestion des retours-produits (frais de retours gratuits) et de nous assurer du transport des produits dans les meilleures conditions, les produits devront être retournés dans leur emballage d'origine, accompagnés de l'ensemble des accessoires et notices, être en bon état, et accompagnés de leur facture.<br>
                                                          Les produits "sur mesure" ne peuvent faire l'objet de l'exercice du droit à la rétractation.</font></td>
                                                        </tr>
                                                        <tr>
                                                          <td style="padding-bottom:10px"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="1" style="font-size:12px">Si vous souhaitez exercer votre droit de rétractation, vous êtes invité à nous contacter à <a class="moz-txt-link-abbreviated" href="mailto:contact@abonnement.leroymerlin.fr">contact@abonnement.leroymerlin.fr</a>. Nous vous indiquerons la procédure à appliquer.</font></td>
                                                        </tr>
                                                        <tr>
                                                          <td style="padding-bottom:10px"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="1" style="font-size:12px">Nous mettrons à votre disposition un bordereau de retour et vous indiquerons l'adresse de retour des produits. Conformément aux dispositions légales, nous nous engageons à vous rembourser l'ensemble des sommes versées (frais de port inclus), et ce dans le délai maximal de quatorze (14) jours à compter de la récupération des produits ou de la réception de la preuve d'expédition des produits.<br>
                                                          Nous procéderons au remboursement en utilisant le même moyen de paiement que celui utilisé pour la passation de votre commande, sauf demande express et contraire de votre part. En cas de règlement initial par chèque postal ou bancaire, nous nous rapprocherons de Vous afin d'obtenir communication d'un relevé d'identité bancaire. Le virement sera alors effectué directement sur votre compte bancaire.</font></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding:30px 30px 0 30px"><br></td>
                                </tr>
                                <tr>
                                  <td style="padding:30px"><font color="#4B4B4B" face="Arial, Helvetica, sans-serif" size="1" style="font-size:12px">Nous vous remercions de votre confiance et à très bientôt sur <a href="http://www.leroymerlin.fr" style="color:#5fad0e" target="_blank">www.leroymerlin.fr</a>. ou <a class="moz-txt-link-freetext" href="https://abonnement.leroymerlin.fr/#!contact">https://abonnement.leroymerlin.fr/#!contact</a>.<br>
                                  L'équipe Internet Leroy Merlin Abonnements.</font></td>

                                </tr>
                                <tr>
                                  <td align="center" bgcolor="#464644" style="padding:10px"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="1" style="font-size:10px">Cette liste est en cours de déclaration à la CNIL. Copyright Leroy Merlin 2012<br></font></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table><br>
  </div>
</body>
</html>