{$id_pdf_affaire = ATF::_r('id_pdf_affaire') }

{* Si déja un fichier Image généré on ne le regénère pas! *}
{if ATF::pdf_affaire()->imageExist($id_pdf_affaire)}
    {$retour = $current_class->getUrlImagePDF($id_pdf_affaire)} 
{else}
    {* Si déja pas de fichier PDF pour cette pdf_affaire on ne regénère pas! *}
    {if $current_class->getFichierJoint($id_pdf_affaire)}
        {$retour = $current_class->dynamicPicture($id_pdf_affaire )}
    {/if}
    
{/if}

{if $retour}
    {for $var=0 to $retour.page}        
        <tr>        
            <td style="text-align : center;">
                <img src="{$retour.URL}_{$var}-2480-3500.png" />
                <br /><br />
            </td>       
        </tr>       
    {/for}
{/if}