<!-- Graphique -->
<table style="width:100%">
<tr><td colspan="2">

<tr><td {*style="width:80%;" *}>
<div id="{$smarty.get.module}_"></div>

{$data = ATF::devis()->devis_gagne_stats(false,'autre',true,date("Y"))}

<script type="text/javascript">


Ext.onReady(function(){
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: '{$smarty.get.module}_',
            type: 'spline'
        },
        title: {
            text: 'DEVIS AUTRES CLIENTS'
        },
        xAxis: {
            categories: [
                            {foreach $data["categories"]["category"] as $cat}                    
                                '{$cat["label"]}' {if !$cat@last},{/if}
                            {/foreach}
                        ]
        },
        series: [                       
                    {
                        type: 'column',
                        name: 'Réel',
                        data: [
                                {foreach $data["dataset"]["reel"] as $reel}   
                                    {$reel["value"]} {if !$reel@last},{/if}
                                {/foreach} 

                              ]
                    },
                    {
                        type: 'spline',
                        name: 'Moyenne',
                        data: [
                                {foreach $data["dataset"]["moyenne"] as $obj}   
                                     {$obj["value"]} {if !$obj@last},{/if}
                                {/foreach}   
                            ]                  
                    } ,
                    {
                        type: 'spline',
                        name: 'Objectif',
                        data: [
                                {foreach $data["dataset"]["objectif"] as $obj}   
                                     {$obj["value"]} {if !$obj@last},{/if}
                                {/foreach}   
                            ]                  
                    }                     
                ]        
    });
});
   
</script>

</td>
{*
<td style="width:20%;">  
    <form method="post" id="formStatGraphe3">
        <table class="listing_table_stats">
            <tr>
                <td>
                   {ATF::$usr->trans("objectif","stats")} :
                </td>
            </tr>           
            <tr>
                <td>
                    <input type="number" name="objectif" />
                </td>
            </tr>
                    
            <tr>
                <td>
                    <div class="submit" id="submit">
                        {include file="button.tpl.htm" text="valid" onclick="ATF.tpl2div('devis,devis_gagne_stats.ajax','table=stats&module=devis&graph={$graph}&'+$('#formStatGraphe3').serialize());"}
                    </div>
                </td>
            </tr>
        </table>
    </form>                                     



    
</td>
*}
</td></tr>

</td></tr>
</table>