{if ATF::$codename==midas}
<div id="logoCodename"{if ATF::$codename==midas} style="padding-right:300px"{/if}>
    <div style="position:absolute;top:-20px;right:275px;"><img src="{ATF::$staticserver}images/logos/{ATF::$codename}.png" /></div>
    <div style="position:absolute;top:-20px;right:180px;"><img src="{ATF::$staticserver}images/logos/cleodis.png" /></div>
</div>
{elseif ATF::$codename==cap}
<div id="logoCodename" style="padding-right:150px">
    <div style="position:absolute;top:-10px;"><img src="{ATF::$staticserver}images/logos/{ATF::$codename}.png" /></div>
</div>
{else}
<div id="logoCodename">
    <img src="{ATF::$staticserver}images/logos/{ATF::$codename}.png" />
</div>
{/if}


