{if isset($smarty.get.id_affaire)}
    {$id_affaire = $smarty.get.id_affaire}
{elseif isset($requests[$current_class->table]["id_{$current_class->table}"])}
    {$id_affaire = $requests[$current_class->table]["id_{$current_class->table}"]} 
{/if}

{if isset($id_affaire)}
   	{$ref_mandate = ATF::affaire()->select($id_affaire, "ref_mandate")}
   	{if !$ref_mandate}
		<tr>
			<td colspan="2" style="text-align:center; width:100%;">	            
	            <a href="javascript:;" class="btn btn-success" onclick="if (confirm('{ATF::$usr->trans(Etes_vous_sur)}')) ATF.tpl2div('{$current_class->table},relancer.ajax','id_affaire={$id_affaire|cryptid}');" {$item[$x]}&amp;event=relancer" onclick="return confirm('Etes-vous sur(e) ?');">Relancer le client pour la reprise de souscription</a>
	        </td>        
		</tr>
	{/if}
{/if}