

<div id="indicateur"></div>

<script type="text/javascript">
{$data = ATF::log_btn()->getForWidget()}
Ext.onReady(function(){
    var chart = new Highcharts.Chart({
        chart: {
            type: 'area',
            renderTo : 'indicateur'
        },
        title: {
            text: 'Surveillance lien entrant'
        },
        tooltip : {
            shared : true
            
        },
        xAxis: {
            allowDecimals: false,
            title: {
                text: 'Jours'
            },
            categories: [
                            {foreach $data as $value}
                                '{date("l",strtotime($value["date"]))}'                         
                                {if !$value@last},{/if}
                            {/foreach}   
                        ]
        },
        yAxis: [
            {
                title: {
                    text: "Taux d'erreur"
                }
            },
            {
                title: {
                    text: "Nombre de requetes"
                }
            }
        ],
        plotOptions: {
            area: {
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [        
               {
                    name: "Taux d'erreur" 
                    ,yAxis: 0                   
                   ,data: [ 
                            {foreach $data as $value}
                                {round(($value["ko"]/$value["ok"])*100, 2)}                                
                                {if !$value@last},{/if}
                            {/foreach}    
                          ]
                    ,tooltip : {
                        valueSuffix: ' %'
                    }
               },
               {
                    name: "Erreur"
                    ,yAxis: 1                 
                   ,data: [ 
                            {foreach $data as $value}
                                {$value["ko"]}                                
                                {if !$value@last},{/if}
                            {/foreach}    
                          ]
                    ,visible: false
               },
               {
                    name: "Ok"
                    ,yAxis: 1                   
                   ,data: [ 
                            {foreach $data as $value}
                                {$value["ok"]}                                
                                {if !$value@last},{/if}
                            {/foreach}    
                          ]
                    ,visible: false
               }
           ]
    });
});    
</script>
