{strip}
{* @param string $module *}

{$infos = ATF::accueil()->type_agence(ATF::_g(type))}
{$id_agence = $infos.id_agence}
{$index = $infos.index}
{if !$index}{$index=0}{/if}
{$data = ATF::creditsafe()->getSolde(false)}

<div id="creditsafe_graphe_{$infos.type}_{$id_agence}" class="widget"></div>

    <script type="text/javascript">


        Ext.onReady(function(){
            var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'creditsafe_graphe_{$infos.type}_{$id_agence}',
                        plotBackgroundColor: null,
                        plotBorderWidth: 1,
                        plotShadow: false
                    },
                    colors : [
                        "#e00223",
                        "#02FF0F"
                    ],
                    title: {
                        text: "{$data[$index]['title']}"
                        ,style :{
                            fontSize: '12px'
                        }
                    },
                    tooltip: {
                        shared: true
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: false,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: "{$data[$index]['serie']}",
                        data: [
                            ['Utilisé',  {$data[$index]['utilise']} ],
                            ['Restant',  {$data[$index]['restant']} ]
                        ]
                    }]
                });
        });
    </script>

{/strip}