{strip}
{*
@param string $table Table qui contient un champ latitude et un champ longitude
@param int $id Numéro de l'enregistrement
*}
{if $id}
    <div id="geolocalisationGMap" style="width:100%; height:100%;"></div>
    <script type="text/javascript">/*<![CDATA[*/
    ATF.loadMask.show();

    ATF.mapToLoad = function () {
		var __GMap_myOptions = {
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var image = '{ATF::$staticserver}images/module/48/{$table}.png';
		var bounds = new google.maps.LatLngBounds();
		var marker;
		var geolocalisation__GMap = new google.maps.Map(document.getElementById('geolocalisationGMap'), __GMap_myOptions);
		{$id_init=classes::decryptId($id)}
		{foreach from=ATF::getClass($table)->getProximite($id) key=key item=item}
			{$id=$item["{$table}.id_{$table}_fk"]|default:$item["{$table}.id_{$table}"]}
			{if $item.latitude && $item.longitude && $item.latitude!="-1"}
				{$lat=$item.latitude}
				{$long=$item.longitude}
			{elseif $id}
				{* si pas de latitude et longitude on va voir si on peut les générer nous meme *}
				{$coor=ATF::getClass($table)->genLatLong($id)}
				{if $coor}
					{$lat=$coor.lat}
					{$long=$coor.long}
				{/if}
			{/if}	
			{if $lat && $long}
				var marker = new google.maps.Marker({
					position: new google.maps.LatLng({$lat}, {$long}),
					map: geolocalisation__GMap
					{if $id==$id_init}
						,icon:image
					{/if}
				});
				google.maps.event.addListener(marker, "click", function() {
					var InfoWindow = new google.maps.InfoWindow({ 
						content: '{include file="gmap_info.tpl.htm" infos=$item id=$id assign=i}{$i|escape:javascript}'
						,size: new google.maps.Size(25,25)
						,position: new google.maps.LatLng({$lat}, {$long})
					});
					infowindow.open(geolocalisation__GMap);
				});

				bounds.extend(marker.getPosition());
			{/if}
		{/foreach}
		geolocalisation__GMap.fitBounds(bounds);

		ATF.loadMask.hide();
	};

	if (!google || !google.maps) {
		var script = document.createElement("script");
		script.type = "text/javascript";
		script.src = "https://maps.google.com/maps/api/js?sensor=false&callback=ATF.mapToLoad";
		document.body.appendChild(script);
	} else {
		ATF.mapToLoad();
	}
	/*]]>*/</script>

{else}
    <div id="{$pager}GMap" style="width:100%; height:100%;"></div>
    <script type="text/javascript">/*<![CDATA[*/
		{if $table && $pager}
			{$q=ATF::_s(pager)->create($pager,null,true)->reset('order')}
			{ATF::getClass($table)->setQuerier($q)}
			{ATF::getClass($table)->q->addField("`$table`.id_`$table`,latitude,longitude")->where('latitude',"-1","AND","lat","!=")->where('latitude',null,"or","lat","IS NULL")->reset('limit,page')->end()}
			{$data=$q->query(ATF::getClass($table)->select_all())}
			{if $q->nb_rows>$smarty.const.__LIMITE_LOCALISATION__ && !$nolimit}
				Modalbox.show('<div>{ATF::$usr->trans(localisation_limitee)|mt:[limite=>$smarty.const.__LIMITE_LOCALISATION__]|escape:quotes}</div>', { title:'{ATF::$usr->trans(localisation_limitee_titre)|escape:quotes}' });
			{elseif $data}
				if (!$('#{$pager}__GMap').length) {
					ATF.loadMask.show();

					ATF.mapToLoad = function () {
						var __GMap_myOptions = {
							mapTypeId: google.maps.MapTypeId.ROADMAP
						};
						/*var image = '{ATF::$staticserver}images/module/48/{$table}.png';*/
						var bounds = new google.maps.LatLngBounds();
						var marker;
						var {$pager}__GMap = new google.maps.Map(document.getElementById('{$pager}GMap'), __GMap_myOptions);
						{foreach from=$data key=key item=item}
							{$id=$item["{$table}.id_{$table}_fk"]|default:$item["{$table}.id_{$table}"]}
							{if $item.latitude && $item.longitude && $item.latitude!="-1"}
								{$lat=$item.latitude}
								{$long=$item.longitude}
							{else}
								{$coor=ATF::getClass($table)->genLatLong($id)}
								{if $coor}
									{$lat=$coor.lat}
									{$long=$coor.long}
								{/if}
							{/if}

							{if $lat && $long}
								var marker = new google.maps.Marker({
									position: new google.maps.LatLng({$lat}, {$long}),
									map: {$pager}__GMap/*,
									icon:image*/
								});
								google.maps.event.addListener(marker, "click", function() {
									var infowindow = new google.maps.InfoWindow({
										content: '{include file="gmap_info.tpl.htm" infos=ATF::getClass($table)->select($id) id=$id assign=i}{$i|escape:javascript}'
										,size: new google.maps.Size(25,25)
										,position: new google.maps.LatLng({$lat}, {$long})
									});
									infowindow.open({$pager}__GMap);
								});

								bounds.extend(marker.getPosition());
							{/if}
						{/foreach}
						{$pager}__GMap.fitBounds(bounds);
						ATF.loadMask.hide();
					};

					if (!google || !google.maps) {
						var script = document.createElement("script");
						script.type = "text/javascript";
						script.src = "https://maps.google.com/maps/api/js?sensor=false&callback=ATF.mapToLoad";
						document.body.appendChild(script);
					} else {
						ATF.mapToLoad();
					}
				} else {
					Modalbox.show('<div>Problème</div>');
					ATF.loadMask.hide();
				}
			{else}
				Modalbox.show('<div>bug pas de $data...</div>');
				ATF.loadMask.hide();
			{/if}
		{else} 
			Modalbox.show('<div>ERREUR LOCALISATION-1</div>');
			ATF.loadMask.hide();
		{/if}
	/*]]>*/</script>
{/if}
{/strip}