<div id="{$nom_div}" class="widget"></div>

<script type="text/javascript">
{$data =ATF::getClass($module)->stats(false,$smarty.get.type,true,$id_societe)}

Ext.onReady(function(){
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: '{$nom_div}',
            type: 'spline'
        },
        title: {
            text: '{ATF::$usr->trans(widget,$module, $type)|escape:javascript}'
        },
        xAxis: {
            categories: [
                {foreach $data["categories"]["category"] as $cat}                    
                    '{$cat["label"]}' {if !$cat@last},{/if}
                {/foreach}
                ]                
        },
        yAxis: {            
            title: {
                text: null
            }
        },
        plotOptions: {
                spline: {
                    lineWidth: 2,
                    states: {
                        hover: {
                            lineWidth: 3
                        }
                    },
                    marker: {
                        enabled: false
                    }                    
                }
            },
        series: [
           {foreach $data["dataset"] as $key =>$data2}          
               {
                    name: '{$key}'                    
                   ,data: [ 
                            {foreach $data["dataset"][$key]["set"] as $value}
                                {$value["value"]}                                
                                {if !$value@last},{/if}
                            {/foreach}    
                          ]
               }
                {if !$data2@last},{/if}
            {/foreach}            
           ]        
    });
});
    
</script>
