<div>
Le Land de Bavière, qui détient les droits de Mein Kampf, et les représentants juifs et tziganes des survivants du génocide de la seconde guerre <br />
mondiale se demandent s'il faut autoriser la réédition du manifeste raciste rédigé par Hitler entre 1923 et 1924. Le Conseil central des Juifs  <br />
allemands a fait savoir à plusieurs reprises qu'il était favorable à une édition critique à but  historique et éducatif, et qu'il était prêt à participer  <br />
à la rédaction de l'appareil critique. Le secrétaire général de ce Conseil, Stéphane Kramer, s'est prononcé cette semaine encore pour "une édition  <br />
critique, scientifique, érudite". Il y a un mois, Wolfgang Heubisch, le Ministre des Sciences, de la Recherche et des Arts de Bavière, a lui aussi  <br />
envisagé favorablement cette réédition. Lire la suite l'article <br /> <br />

Préparer une réédition: une mesure de prudence <br /> <br />

D'après Stéphane Kramer, autoriser une édition critique de Mein Kampf présente plusieurs avantages: d'abord, prendre de vitesse de futures  <br />
rééditions malintentionnées, mais légales. Ensuite, ôter au livre son parfum d'interdit et son côté mythique. Bien qu'il soit illégal de le diffuser,  <br />
le texte est disponible sur Internet, rappelle-t-il. Une approche libre et rationnelle lui ferait perdre beaucoup de son intérêt. Qui plus est, les <br />
 exemplaires historiques encore en circulation sont très nombreux: plus de 10 millions auraient été distribués en Allemagne sous le régime nazi.  <br />
 En France, la vente de la traduction française de 1934 est autorisée, pourvu que le texte soit précédé d'un rappel de quelques pages des crimes <br />
  nazis et de l'interdiction de l'incitation à la haine raciale. <br />

"Il est judicieux et important de publier ce livre, et d'avoir à disposition une édition commentée qui pourra être utilisée, par exemple, pour être  <br />
expliquée aux élèves et aux jeunes gens pendant les cours d'histoire", insiste Stéphane Kramer. <br /> <br />

Des réticences compréhensibles <br /> <br />

Malgré les accords de principe donnés par certaines des parties concernées, malgré l'intérêt m... Lire la suite sur LEXPRESS.fr <br />
</div>
