<div>
    Quarante-huit heures après sa prise de fonction , le nouveau secrétaire général de l'Otan, Anders Fogh Rasmussen , <br />
    était jeudi en Afghanistan, frappé par une escalade des attaques des talibans à deux semaines des élections <br />
    présidentielle et provinciales. Alors qu'il promettait que les troupes de l'Otan feraient «tout leur possible <br />
    pour assurer la meilleure sécurité» au cours du scrutin, jugeant qu'il n'y avait «pas d'alternative» à «plus <br />
    d'efforts militaires et civils», cinq civils qui se rendaient en tracteur à remorque à un mariage, ont été <br />
    tués la veille dans le Sud par l'explosion d'une bombe sur une route de la province du Helmand, l'une des plus<br /> 
    instables du pays. Dans un premier bilan, rectifié par la suite, la police avait fait état de 21 morts. <br />
    Un soldat américain, cinq policiers et deux chauffeurs de camion afghans ont par ailleurs péri jeudi dans <br />
    trois autres attaques, dans un contexte de violences inédit depuis la chute du régime des talibans en 2001. <br />
    Le 9 juillet dernier, l'explosion d'un camion piégé avait tué 25 personnes, dont une douzaine d'écoliers, à 30 <br />
    kilomètres au sud de Kaboul. Lire la suite l'article
</div>
