<div>
    <div id="loginDiv">
        <div id="loginTop">
            <div id="loginTL"></div>
         	 <div id="loginLogo"></div>
            <div id="loginForm" style="position:absolute; top:60px; left:250px; width:600px; height:100px; z-index:60;">
                <form method="post" action="">
                    <input type="hidden" value="{$k|default:""}" name="url" id="url" />
                    <div style="width:150px;">Société :</div>
                    <div style="width:450px;">
                            <input tabindex="1" type="text" value="{$smarty.cookies.optima.societe|default:$smarty.get.societe}"{if $__c.optima.societe || $smarty.get.societe} class="invisible" onfocus="this.className='';"{/if} name="schema" id="schema" />
                    </div>
                    <div style="width:150px;">Nom d'utilisateur :</div>
                    <div style="width:200px;"><input tabindex="2" type="text" value="{$smarty.cookies.l}" name="login" id="login" /></div>
                    <div id="loadingAnim" style="width:250px;display:none;"><img src="{ATF::$staticserver}images/loading/loading.gif" alt="load" /></div>
                    <div id="submitButton" style="width:250px;"><button tabindex="4" type="button" id="go">Accéder à mon compte</button></div>
                    <div style="width:150px;">Mot de passe :</div>
                    <div><input tabindex="3" type="password" value="{$smarty.cookies.p}" name="password" id="password" onkeyup="$('#passwordseeded').val('');" /></div>
                    <input type="hidden" value="{$smarty.cookies.p}" id="passwordseeded"  />
                    <input type="hidden" value="{$smarty.cookies.s}" id="seed"  />
                    <div style="font-size:10px; font-family:Arial, Helvetica, sans-serif"><input{if $smarty.cookies.p} checked="checked"{/if} tabindex="4" type="checkbox" value="1" name="store" id="store" style="width:auto;" /> Se rappeler des identifiants (Je suis le seul utilisateur de ma machine)</div>
                </form>
            </div>
            <div id="loginVirgule"></div>
        </div>
        <div id="loginBottom">
            <div id="loginBL"></div>
            <div id="loginBM">{include file="copyright.tpl.htm"}</div>
            <div id="loginBR"></div>
        </div>
    </div>
</div>
