{strip}
	{$id = $item["{$current_class->table}.id_note_de_frais"]}
    
    {if ATF::note_de_frais()->canValid(ATF::$usr->getID()) && $item["{$current_class->table}.etat"]=='en_cours'}
        <a href="javascript:;" onclick="if (confirm('{ATF::$usr->trans(Etes_vous_sur)}')) 
        	ATF.tpl2div(
            	'{$current_class->table},valid.ajax'
                ,'id_note_de_frais={$id|cryptid}'
            	,{ onComplete:function(){ 
					ATF.updWait('gsa_note_de_frais_note_de_frais_content','Merci de patienter !',function(){ ATF.tpl2div('note_de_frais,updateSelectAll.div','pager=gsa_note_de_frais_note_de_frais&table=note_de_frais&function='); });
                 } }
            );">
            <img src="{ATF::$staticserver}images/icones/valid.png" height="16" width="16" alt="" />
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="javascript:;" onclick="if (confirm('{ATF::$usr->trans(Etes_vous_sur)}')) 
        	ATF.tpl2div(
            	'{$current_class->table},refus.ajax'
                ,'id_note_de_frais={$id|cryptid}'
            	,{ onComplete:function(){ 
					ATF.updWait('gsa_note_de_frais_note_de_frais_content','Merci de patienter !',function(){ ATF.tpl2div('note_de_frais,updateSelectAll.div','pager=gsa_note_de_frais_note_de_frais&table=note_de_frais&function='); });
                 } }
            );">
            <img src="{ATF::$staticserver}images/icones/no.png" height="16" width="16" alt="" />
        </a>
    {/if}
    
    
    
{/strip}
