
<table style="background-color:transparent;" border="0" cellpadding="0" cellspacing="0" height="100%" style="margin:0 auto;" width="100%">
  <tbody>
		<tr>
		  <td align="center" bgcolor="#fff" height="100%" width="600">
			  <table border="0" cellpadding="0" cellspacing="0">
			    <tbody>
				      <tr>
				        <td bgcolor="#fff" height="165" style="height:165px;" width="600">
					        <table border="0" cellpadding="0" cellspacing="0">
						        <tbody>
									<tr>
										<td height="165" style="height:165px;" valign="middle" width="600">
											<p style=" width:90%;color:#000;font-size:20px;line-height:1.15;">
											  {$infos["texte"]}

												<br/>
												<br/>

												{if ATF::$codename == "bdomplus"}<br/>Les équipes  B’dom+ et Boulanger {/if}
												{if ATF::$codename == "boulanger"}<br/>Les équipes Boulanger {/if}
												{if ATF::$codename == "go_abonnement"}<br/>Les équipes Go Abonement {/if}
												{if ATF::$codename == "cleodis"}<br/>Les équipes Cléodis {/if}
												{if ATF::$codename == "assets"}<br/>Les équipes Assets {/if}
											</p>

										</td>
									</tr>
						        </tbody>
				      	   </table>
			      	    </td>
				      </tr>
			    </tbody>
			  </table>
		  </td>
		</tr>
	</tbody>
</table>

