<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{ATF::$usr->trans("id_language")}">
    <head>
        <!--STYLE DU TEMPLATE-->
        <style type="text/css">
        html, body, div { margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
        table td { font-size:14px; }
        tr.titre > td { font-weight:bold; }
        </style>
    </head>
    <body>



        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                {if ATF::$codename == "cleodisbe"}
                    <td valign="top" style="width:640px;">
                        <center>
                            <img style="width:200px;" src="{$emailObj->addEmbeddedImage("{ATF::$staticserver}images/design/mail/cleodisbe/belgique.gif")}"/>
                        </center>
                    </td>
                {/if}

                <tr>
                    <!--TEXTE DU TEMPLATE-->
                    <td align="left" valign="top" style="width:640px;">
                        <!--SI TEMPLATE SPECIFIQUE EXISTE-->
                        {if ATF::$html->template_exists("mail/{$infos.template}.tpl.htm")}
                            <br />{include file="mail/{$infos.template}.tpl.htm"}
                        <!--SINON PAR DEFAUT ON MET LE CONTENUE DE 'texte'-->
                        {else}
                            {$infos["texte"]}
                        {/if}
                    </td>
                </tr>
                <tr>
                    <!--ICI SIGNATURE DE L'UTILISATEUR-->
                    <td align="left" valign="top" style="width:640px;">
                        <br />Cordialement {ATF::user()->nom(ATF::$usr->getId())}.
                    </td>
                </tr>
               <tr>
                    <!--LOGO DE LA SOCIETE-->
                    <td align="left">
                        <br />                        
                        {if ATF::$codename == "cap"}
                            {$societe=ATF::societe()->select(1)}
                            <img src="{$emailObj->addEmbeddedImage("{ATF::$staticserver}images/design/mail/cap/cap.png")}"/>
                        {else}
                            {$societe=ATF::societe()->select(246)}
                            <img src="{$emailObj->addEmbeddedImage("{ATF::$staticserver}images/design/mail/cleodis/bottom_new.jpg")}"/>
                        {/if}
                        <br /><br />
                    </td>
                </tr>
                <tr>
                    <!--INFO DE LA SOCIETE-->
                    <td align="left">
                        {$societe.adresse} - {$societe.cp} {$societe.ville} - {ATF::pays()->nom($societe.id_pays)}<br /> 
                        Tél : {$societe.tel} - Fax : {$societe.fax}
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>