{assign var=infos_suivi value=ATF::suivi()->select($infos.id_suivi)}
{if $infos.champsComplementaire=='date_debut' || $infos.champsComplementaire=='date_evolution'}
  {$type = 'CONTRAT'}
{elseif $infos.champsComplementaire=='retour_prel'}
  {$type = 'AP'}
{elseif $infos.champsComplementaire=='retour_pv'}
  {$type = 'PV'}
{/if}

<div style="text-align:left;">
  <p><span style="font-weight:bold;">{$type}</span></p>


  {if $infos.attente_reponse == true}
    <p><span style="font-weight:bold; color:red;">Une réponse de votre part est nécessaire</span></p>
  {/if}

  <p>{ATF::$usr->trans('bonjour',mail)}</p>
  <p>{ATF::$usr->trans('reception_suivi',mail)}</p>
  <p><span style="font-weight:bold;">{ATF::$usr->trans('de',mail)}</span> {ATF::user()->nom($infos.id_user)}</p>
  {if ATF::$codename == 'bdomplus'}
    <p>
      <span style="font-weight:bold;">{ATF::$usr->trans('client',mail)}</span>{ATF::societe()->select($infos_suivi.id_societe, code_client)} | {ATF::societe()->select($infos_suivi.id_societe, ref)}
    </p>
    {if $infos.id_affaire}
      <p>
        <span style="font-weight:bold;">{ATF::$usr->trans('affaire',mail)}</span> {ATF::affaire()->select($infos.id_affaire, ref)}
      </p>
    {/if}

    <p>
      <span style="font-weight:bold;">Contact: </span>
      {$infos_suivi.suivi_contact|count} contact(s) de l'entitée

    </p>
    <p><span style="font-weight:bold;">{ATF::$usr->trans('type_suivi',suivi)}</span> : {$infos_suivi.type_suivi}</p>
    <p><span style="font-weight:bold;">{ATF::$usr->trans('type',suivi)}</span> : {$infos_suivi.type}</p>

    <p><a href="{$infos.optima_url}">{ATF::$usr->trans('permalink')}</a></p>

    <p>{ATF::$usr->trans('remerciement_suivi',mail)}</p>

  {else}

    <p>
      <span style="font-weight:bold;">{ATF::$usr->trans('client',mail)}</span>
      {ATF::societe()->select($infos_suivi.id_societe, code_client)} | {ATF::societe()->select($infos_suivi.id_societe, ref)} - {ATF::societe()->nom($infos_suivi.id_societe)}
    </p>
    {if $infos.id_affaire}
      <p>
        <span style="font-weight:bold;">{ATF::$usr->trans('affaire',mail)}</span> {ATF::affaire()->select($infos.id_affaire, ref)} - {ATF::affaire()->select($infos.id_affaire, "affaire")}
      </p>
    {/if}

    <p>
      <span style="font-weight:bold;">{ATF::$usr->trans('concerne',mail)}</span>
      {foreach name=for_suivi_notifie from=$infos_suivi.suivi_notifie key=key__ item=item__}
        {ATF::user()->nom($item__)}
        {if !$smarty.foreach.for_suivi_notifie.last}, {/if}
      {/foreach}
    </p>
    <p>
      <span style="font-weight:bold;">{ATF::$usr->trans('intervenant_client',mail)}</span>
      {foreach name=for_suivi_contact from=$infos_suivi.suivi_contact key=key__ item=item__}
        {ATF::contact()->nom($item__)}
        {if !$smarty.foreach.for_suivi_contact.last}, {/if}
      {/foreach}
    </p>
    <p>
      <span style="font-weight:bold;">{ATF::$usr->trans('intervenant_societe',mail)}</span>
      {foreach name=for_suivi_societe from=$infos_suivi.suivi_societe key=key__ item=item__}
        {ATF::user()->nom($item__)}{if !$smarty.foreach.for_suivi_societe.last}, {/if}
      {/foreach}
    </p>
    <p><span style="font-weight:bold;">{ATF::$usr->trans('type_suivi',suivi)}</span> : {$infos_suivi.type_suivi}</p>
    <p><span style="font-weight:bold;">{ATF::$usr->trans('type',suivi)}</span> : {$infos_suivi.type}</p>
    <p><span style="font-weight:bold;">{ATF::$usr->trans('detail_suivi',mail)}</span> : <br />{$infos_suivi.texte|nl2br}</p>

    <p><a href="{$infos.optima_url}">{ATF::$usr->trans('permalink')}</a></p>

    <p>{ATF::$usr->trans('remerciement_suivi',mail)}</p>

  {/if}

</div>