<p>Bonjour <span style="font-weight:bold;">{ATF::contact()->nom($infos.contact.id_contact)}</span>,</p>

<p>Voici vos identifiants pour vous connecter au <a href="{$smarty.const.__HOTLINE_URL__}">portail hotline</a> ({$smarty.const.__HOTLINE_URL__}).</span></p>

<p> <strong>Référence Societe : </strong>{$infos.societe.ref}</p>
<p> <strong>Mot de passe  : </strong>{$infos.societe.divers_5}</p>

<p> Vous pouvez également utiliser le <a href="{$infos.direct_link}">lien direct</a></p>

<p>Cordialement,<br /></p>
<p>L'équipe Absystech</p>